@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media (max-width: 400px) {
    html {
        font-size: 12px;
    }
}

main {
    display: flex;
    height: 100dvh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

main::-webkit-scrollbar {
    display: none;
}

section {
    position: relative;
    flex: none;
    width: 100vw;
    height: 100dvh;
    scroll-snap-align: start;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10dvh 10vw;
    display: flex;
    flex-direction: column;
}

.content {
    color: #fff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .label {
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: 2px solid #fff;
}

.content > .top .name {
    font-size: 2.5rem;
    margin-bottom: 8px;
}

.content > .top .info {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.content > .top .quote {
    font-size: 1rem;
}

/* input */
.input-container {
  position: relative;
  margin: 60px auto 20px;
  width: 100%;
}

.input-container input[type="password"] {
  font-size: 20px;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  transition: all 0.3s ease;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.input-container input[type="password"]:focus ~ .label,
.input-container input[type="password"]:valid ~ .label {
  top: -20px;
  font-size: 1rem;
  color: #333;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #333;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="password"]:focus ~ .underline,
.input-container input[type="password"]:valid ~ .underline {
  transform: scaleX(1);
}



.section02 { background: orange; }
.section03 { background: yellow; }
.section04 { background: green; }
.section05 { background: blue; }
.section06 { background: navy; }